.team-container {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}
.text{
    text-align: center;
}
.column {
    left: 1000px;
    float: left;
    padding: 5px;
    
}

.img {
    width: 90%;
    height: auto;
    
}
.column:hover{
    transition: all 300ms;
    opacity: 70%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

.info-name {
    opacity: 50%;
    font-style: italic;
    
}
  .btn-4 {
    background:rgb(238, 192, 192);
    position: relative;
    top: 200px;
    left: 47%;
    bottom: 20%;
    text-align: center;
    display: inline-block;
    padding: 5px 30px;
    border: 1px solid rgb(94, 35, 35);
    overflow:hidden;
    font-style: italic;
    border-radius: 10px
  }
  
  .btn-4:before {
    content: "";
    height: 100%;
    width: 0;
    background : #fff;
    left: 0;
    bottom: 0;
    transition: all .3s;
    opacity: 0.3;
  }
  
  .btn-4:hover:before {
    width: 100%;
  }
  .title-border {
    width: 80px;
    height: 1px;
    background: #5664d2;
    background: linear-gradient(to right, transparent, #5664d2, transparent);
    margin: 0 auto;
}